body {
  background-color: #f8f9fa;
}
header {
  background-color: #007bff;
  color: white;
}
.card {
  transition: transform 0.2s; /* Efecto de hover */
}
.card.ini:hover {
  transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}
footer {
  background-color: #343a40; /* Color pie de página */
  color: white;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-right: 5px;
  background-color: #f8f9fa;
}
.nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}