<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">

	<display-name>nol2425</display-name>
 
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
  	</welcome-file-list>

<!--Servlets-->
	<!--Login Alumno-->
	<servlet>
		<servlet-name>AlumnoLoginServlet</servlet-name>
		<servlet-class>servlets.AlumnoLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlumnoLoginServlet</servlet-name>
		<url-pattern>/AlumnoLoginServlet</url-pattern>
	</servlet-mapping>

<!--Login Profesor-->
	<servlet>
		<servlet-name>ProfesorLoginServlet</servlet-name>
		<servlet-class>servlets.ProfesorLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfesorLoginServlet</servlet-name>
		<url-pattern>/ProfesorLoginServlet</url-pattern>
	</servlet-mapping>


	<!--Dashboard Alumno-->
	<servlet>
		<servlet-name>AlumnoDashboardServlet</servlet-name>
		<servlet-class>servlets.AlumnoDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlumnoDashboardServlet</servlet-name>
		<url-pattern>/AlumnoDashboardServlet</url-pattern>
	</servlet-mapping>
	
	<!--Detalle Asignatura-->
    <servlet>
        <servlet-name>AsignaturaDetalleServlet</servlet-name>
        <servlet-class>servlets.AsignaturaDetalleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsignaturaDetalleServlet</servlet-name>
        <url-pattern>/AsignaturaDetalleServlet</url-pattern>
    </servlet-mapping>
    
	<!--Dashboard Profesor-->
	<servlet>
		<servlet-name>ProfesorDashboardServlet</servlet-name>
		<servlet-class>servlets.ProfesorDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfesorDashboardServlet</servlet-name>
		<url-pattern>/ProfesorDashboardServlet</url-pattern>
	</servlet-mapping>
	
	<!--Asignatura Alumnos-->
	<servlet>
		<servlet-name>AsignaturaAlumnosServlet</servlet-name>
		<servlet-class>servlets.AsignaturaAlumnosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AsignaturaAlumnosServlet</servlet-name>
		<url-pattern>/AsignaturaAlumnosServlet</url-pattern>
	</servlet-mapping>

<!--Filtros-->
	<!--Filtro de Logs-->
	<context-param>
    	<param-name>logFilePath</param-name>
    	<param-value>/tmp/nol2425.log</param-value> <!-- ruta log -->
	</context-param>
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>filters.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>